
@font-face {
    font-family: 'DIN';
    src: url('../fonts/DIN-Light.woff2') format('woff2'),
        url('../fonts/DIN-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/DIN-Bold.woff2') format('woff2'),
        url('../fonts/DIN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/DIN-Regular.woff2') format('woff2'),
        url('../fonts/DIN-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/DIN-Black.woff2') format('woff2'),
        url('../fonts/DIN-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/DIN-Medium.woff2') format('woff2'),
        url('../fonts/DIN-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/************************
*************************/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*******************
*******************/

html, body{
  font-family: 'DIN';
  font-size: 12px;
  margin: 0;
  text-align: center;
  width: 1080px;
  height: 1920px;
  overflow: auto;
  background: url('../img/gimnasios/fondo.jpg');
  background-size: cover;
}

header{
  width: 100%;
  background: rgba(0,0,0,0.75);
  padding: 20px 0px;
  color: #FFF;
  font-size: 43px;
  height: 526px;
  border-bottom: 7px solid #ED1C24;
}
header .logo{
  margin: 20px;
}
header #menu{
  text-align: center;
  width: 852px;
  margin: auto;
}
header #menu a{
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  width: 122px;
  display: block;
  text-align: center;
  float: left;
  margin: 10px;
}
header #menu a img{
  margin: auto;
}

.gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c42050+0,c61486+50,645fa5+100 */
  background: #c42050; /* Old browsers */
  background: -moz-linear-gradient(left,  #c42050 0%, #c61486 50%, #645fa5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #c42050 0%,#c61486 50%,#645fa5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #c42050 0%,#c61486 50%,#645fa5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c42050', endColorstr='#645fa5',GradientType=1 ); /* IE6-9 */
}

.linea_header{
  width: 100%;
  height: 20px;
}

h1{
  font-family: 'DIN';
  font-weight: 500;
  font-style: normal;
  font-size: 38px;
  margin: 0px auto 50px;
  color: #1d1b21;
  background: #ED1C24;
  color: #FFF;
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 450px;
}

h2{
  font-family: 'DIN';
  font-weight: 300;
  font-style: normal;
  font-size: 45px;
  margin: 0px 0 10px 0;
  color: #1d1b21;
}

h3{
  font-family: 'DIN';
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  margin: 20px 0px;
  color: #1d1b21;
  text-transform:uppercase;
}

.btn{
  font-family: 'DIN';
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  border: none;
  border-radius: 0px;
  background: #808285;
  padding: 5px 29px 3px;
  color: #FFF;
}
.active{
  font-family: 'DIN';
  font-weight: bold;
  font-style: normal;
  background: #E01C24;
  color: #FFF;
}

section{
  padding: 0px;
  /*background: #FFF;*/
}

footer{
  position: relative;
  background: rgba(0,0,0,0.8);
  color: #FFF;
  text-align: left;
  padding: 20px 70px;
  height: 230px;
}

footer h4{
  font-family: 'DIN';
  font-weight: 300;
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}
footer h4 strong{
  font-family: 'DIN';
  font-weight: 500;
  font-size: 30px;
}
footer h4 span{
  color: #c42050;
}

footer table{
  font-family: 'DIN';
  font-weight: 300;
  font-size: 16px;
}
footer table .title{
  font-family: 'DIN';
  font-weight: 500;
  font-size: 24px;
}
footer table td{
  padding: 5px 0px;
  letter-spacing: 1px;
}

footer .sumate{
  position: absolute;
  bottom: 10px;
  right: 70px;
  color: #c42050;
  font-family: 'DIN';
  font-weight: 300;
  font-size: 36px;
}


#area_calendario
{
  margin: 10px auto 20px auto;
  width: 950px;
  overflow: hidden;
}
.calendario
{
  margin: 0px;
  width: 950px;
  border: none;
}
/*
.calendario td
{
  vertical-align: top;
  background: #FFF;
  width: 138px;
    min-height: 86px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.calendario td.hora
{
  vertical-align: middle;
  background: #FFF;
    min-height: 86px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.calendario th
{
  width: 138px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.calendario th.hora
{
  vertical-align: middle;
  background: #FFF;
    min-height: 86px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
*/
thead, tbody {
    display: block;
}
#table_scroll
{
  padding: 0px;
  margin: 0px 0px 15px 0px;
  width: 970px;
  height: 490px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.calendario .th
{
  width: 124px;
  font-family: 'DIN';
  font-weight: 300;
  font-size: 19px;
  margin-bottom: 10px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.calendario .th.hoy
{
  font-family: 'DIN';
  font-weight: 500;
  font-size: 24px;
  color: #E01C24;
  text-decoration: underline;
}
.calendario .th.hora
{
  width: 60px;
  padding: 10px 10px;
  color:#FFF;
}
.calendario td{
  width: 124px;
  vertical-align: top;
  background: #FFF;
}
.calendario .td
{
  width: 124px;
  min-height: 76px;
  background: #d8d9dd;
  color: #FFF;
  padding: 5px 0px;
}
.calendario .td.hora
{
  width: 60px;
  height: 100%;
  background: #A9A8AE;
  font-family: 'DIN';
  font-weight: 500;
  font-size: 22px;
  padding: 10px 10px;
}
.calendario .td.evento
{
  background: #686868;
  font-family: 'DIN';
  font-weight: 300;
  font-size: 12px;
}
.calendario .td.evento.hoy
{
  background: #E01C24;
}
.calendario .td.evento span
{
  font-family: 'DIN';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  
}
.calendario .td.evento strong
{
  font-family: 'DIN';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform:uppercase;
}
.calendario hr
{
  height: 1px;
  background: #FFF;
  border: none;
  margin: 1px 0px;
}

#area_popup
{
  width: 300px;
  height: 150px;
  position: absolute;
  text-align: left;
  padding: 20px 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
}
#area_popup .titulo{
  color: #E01C24;
  font-family: 'DIN';
  font-weight: bold;
  font-size: 16px;
}
#area_popup .subtitulo{
  color: #231F20;
  font-family: 'DIN';
  font-weight: bold;
  font-size: 12px;
}
#area_popup .salon{
  color: #E01C24;
  font-family: 'DIN';
  font-weight: 500;
  font-size: 10px;
}
#area_popup p{
  color: #18141C;
  font-family: 'DIN';
  font-weight: 500;
  font-size: 10px;
}
#area_popup img{
  position: absolute;
  top: 0px;
  right: 0px;
}
#area_popup i{
  position: absolute;
  top: -10px;
  right: -10px;
}

#area_clase
{
  width: 940px;
  height: 300px;
  position: relative;
  text-align: left;
  margin: 0px auto 20px auto;
  overflow: hidden;
}
#area_clase .gris
{
  background: #FFF;
}
#area_clase img
{
  float: left;
  margin-right: 20px;
}
#area_clase h4
{
  font-family: 'DIN';
  font-weight: bold;
  font-size: 32px;
  color: #E01C24;
  margin: 0px;
  text-transform: uppercase;
}
#area_clase .titulo
{
  text-transform: uppercase;
  font-family: 'DIN';
  font-weight: bold;
  font-size: 40px;
  color: #E01C24;
}
#area_clase .derecha
{
  background: #FFF;
  padding: 20px 20px 20px 20px;
}
#area_clase .derecha p
{
  font-family: 'DIN';
  font-weight: 500;
  font-size: 21px;
  color: #18141C;
  height: 120px;
  overflow: auto;
}
#area_clase .derecha .salon
{
  font-family: 'DIN';
  font-weight: 500;
  font-size: 25px;
  color: #E01C24;
}


#area_flecha_arriba
{
  height: 40px;
}
#area_flecha_arriba .arrow a
{
  background: url('../images/arrows-arriba.png');
  width: 60px;
  height: 26px;
  display: block;
  margin: auto;
}
#area_flecha_arriba .arrow a span
{
  opacity: 0;
}

#area_flecha_abajo
{
  height: 40px;
}
#area_flecha_abajo .arrow a
{
  background: url('../images/arrows-abajo.png');
  width: 60px;
  height: 26px;
  display: block;
  margin: 10px auto;
}
#area_flecha_abajo .arrow a span
{
  opacity: 0;
}

#area_actividades
{
  position: relative;
  margin: 20px auto;
  width: 940px;
  height: 133px;
  overflow: hidden;
}
#area_actividades #slider_actividades
{
  width: 940px;
  height: 153px;
  margin: 0px;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
}
#area_actividades #slider_actividades ul
{
  height: 133px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#area_actividades li
{
  float: left;
  list-style: none;
  margin-right: 4px;
  background: url('../img/gimnasios/btn_back.png');
  width: 171px; /*191*/
  height: 73px; /*133*/
  padding: 30px 10px;
  font-size: 30px;
  color: #FFF;
  text-transform: uppercase;
  text-align: left;
}


#zocalo
{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 300px;
  background: transparent;
}
#zocalo_arriba
{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 1920px;
  background: transparent;
}

#area_flecha_izquierda{
  position: absolute;
  left: 30px;
  top: 440px;
}
#area_flecha_derecha{
  position: absolute;
  left: 1020px;
  top: 440px;
}

video{
  position: absolute;
  top: 0px;
  left: 0px;
}


#sumate{
  position: absolute;
  bottom: 10px;
  left: 880px;
  top: 1840px;
  color: #FFF;
  /* background-color:#333;*/
  font-family: 'DIN';
  font-weight: 300;
  font-size: 70px;
}
footer #sumate2{
  width:150px;
  position: absolute;
  bottom: 10px;
  right: 70px;
  color: #c42050;
  font-family: 'DIN';
  font-weight: 300;
  font-size: 70px;
}
#point{width:800px; height:800px;-webkit-animation:mymove 1s ease infinite; }
@-webkit-keyframes mymove
{
  0% {opacity:1.0;}
  50% {opacity:0;}
  100% {opacity:1.0;} 
}

#titulo_ahora{
  text-transform: uppercase;
}